.idea
.vscode
**/*.tfstate*
*.tfstate*
**/.terraform
.terraform
**/.terraform.lock.hcl
.terraform.lock.hcl
!**/.terraform-docs.yml
!.terraform-docs.yml
.env
**.external_modules/
!**/example.tfvars.json
*.tfvars.json
